# This is the base path we are analyzing
VOLUME="/gscmnt/gc2737/ding"

# This is used only for the title
SYSNAME="MGI"   

# This is used for the filename
TIMESTAMP="20190723"

# short name of volume used for filename
VOLNAME="MGI.gc2737" 

# These are typically not changed
DATD="dat"
IMGD="img"
LOGD="logs"

# Called after running scripts to catch fatal (exit 1) errors
# works with piped calls ( S1 | S2 | S3 > OUT )
function test_exit_status {
    rcs=${PIPESTATUS[*]};
    for rc in ${rcs}; do
        if [[ $rc != 0 ]]; then
            >&2 echo Fatal error.  Exiting
            exit $rc;
        fi;
    done
}
