// from https://washu.atlassian.net/wiki/spaces/RUD/pages/1782513713/Nextflow

process {
    executor = "lsf"
// Defining queue to be dinglab.  This has a run limit of 28 days (bqueues -l dinglab)
    queue    = { "dinglab" } 

    // clusterOptions =  { "-a 'docker(mwyczalkowski/python3-util:20250130)' -J nextflow -env 'all,PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'" }

	withLabel: dailybox {
    // SCao/dailybox properly gets user names using `stat` 
		clusterOptions =  { "-a 'docker(scao/dailybox)' -J nextflow -env 'all,PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'" }
	}
	withLabel: python3 {
		clusterOptions =  { "-a 'docker(mwyczalkowski/python3-util:20250130)' -J nextflow -env 'all,PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'" }
	}
	withLabel: python3himem {
		clusterOptions =  { "-a 'docker(mwyczalkowski/python3-util:20250130)' -J nextflow -env 'all,PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin' -M 32000 -R \"select[mem>32000] rusage[mem=32000]\"" }
	}
	withLabel: dirtree {
		clusterOptions =  { "-a 'docker(mwyczalkowski/gems-dirtree:20260804)' -J nextflow -env 'all,PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'" }
        // dirtree path: /usr/local/bundle/bin/dirtree
	}
}

executor {
    queueSize = 7
    submitRateLimit = '1/1sec'

}

// Default paths

//params.target_fs = "/storage1/fs1/dinglab/Active/Primary/PECGS/SR009528"
params.target_fs = "/storage1/fs1/dinglab/Active"

params.datestamp = "20260716"

// Note: must not include the "/rdcw/fs2/home1/Active" prefix to home 

// all scripts are added to the bin directory
// https://www.nextflow.io/docs/latest/sharing.html#the-bin-directory

// filelist parameter 
params.primary_list="config-dat/primary_list_storage1.tsv"
params.past_md5_fl="/storage1/fs1/m.wyczalkowski/Active/ProjectStorage/Analysis/FSAudit/dinglab.20260527/dinglab.20260527.filelistB-large.tsv.gz"

params.n_parallel_md5=6

// dirmap3 filter settings.  The smallest directories retained when making an HTML dirtree
params.dm3_all_lim=100000000000 // 100G

// per-user filter settings
params.dm3_user_lim=10000000000 // 10G
